{
  "check-coverage": false,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 80,
  "per-file": true,
  "include": [
    "src/**/*.ts",
    "src/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "src/**/*.test.ts"
  ],
  "reporter": [
    "text-summary",
    "json"
  ],
  "cache": true,
  "all": true,
  "instrument": false,
  "sourceMap": false,
  "report-dir": "./artifacts/istanbul"
}
