{
  "check-coverage": true,
  "lines": 0,
  "per-file": true,
  "include": [
    "src/**/*.ts",
    "src/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "src/**/*.test.ts"
  ],
  "reporter": [
    "text-summary",
    "json"
  ],
  "require": [
    "ts-node/register"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "cache": true,
  "all": true,
  "instrument": true,
  "sourceMap": true,
  "report-dir": "./artifacts/istanbul"
}
